## This file uses GNU Makefile and shell syntax because it is included by the
## `Makefile`.

## [Optional to change]
##
## Sets a temporary directory for Spark processing.
##
## Prerequisite: Directory must exist.
##
#export CTGOV_SPARK_TEMP_DIR=/path/to/spark-tmp

## vim: ft=sh
